<script lang="ts">
  import "../app.css";
</script>

<div class="dark">
<header></header>
<slot />
<footer></footer>
</div>

<style lang="postcss">
  header {
    @apply w-full bg-gray-100 h-11 hover:bg-yellow-500 dark:bg-gray-800;
  }
</style>