<script lang="ts">
import { toggle_class } from "svelte/internal";

</script>

<h1 class="text-3xl font-bold underline">Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
<button on:click="{(e) => document.documentElement.classList.toggle("dark")}">Toggle theme</button>

<style></style>