@import "~bootstrap/scss/bootstrap";

$primary-color: rgb(234, 186, 58);

html {
	font-size: 62.5%;
	box-sizing: border-box;

	body {
		// height: 100%;
		font-size: 1.6rem;
		// font-family: Helvetica, Arial, sans-serif;
		// margin: 0;
		// -webkit-font-smoothing: antialiased;
		// -moz-osx-font-smoothing: grayscale;

		#root {
			height: 100%;
		}

		/* Layout */
		.grid-container {
			display: grid;
			grid-template-areas:
				"header"
				"main"
				"footer";
			grid-template-columns: 1fr;
			grid-template-rows: 5rem 1fr 5rem;
			height: 100%;
		}

		header {
			grid-area: header;
			background-color: #203040;
		}

		main {
			grid-area: main;
			padding: 1rem;
		}

		footer {
			grid-area: footer;
			background-color: #203040;
			color: #ffffff;
			height: 50px;
		}

		/* Common */
		a {
			text-decoration: none;
		}

		a:hover {
			color: #ff8000;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}

		input,
		select,
		textarea,
		button {
			padding: 1rem;
			border-radius: 0.5rem;
			border: 0.1rem #a4a4a4 solid;
			font-size: 1.6rem;
			font-family: Helvetica, Arial, sans-serif;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			&:hover {
				border: 0.1rem #404040 solid;
			}
		}

		// button {
		// 	background-color: #f8f8f8;
		// 	cursor: pointer;

		// 	&.primary {
		// 		background-color: #f0c040;
		// 	}

		// 	&.block {
		// 		width: 100%;
		// 	}
		// }

		/* Header */
		header a {
			color: #ffffff;
			padding: 1rem;
		}

		a.brand {
			color: #ffffff;
			font-size: 3rem;
			font-weight: bold;
		}

		// .row {
		// 	display: flex;
		// 	flex-wrap: wrap;
		// 	justify-content: space-between;
		// 	align-items: center;

		// 	&.center {
		// 		justify-content: center;
		// 	}

		// 	&.top {
		// 		align-items: flex-start;
		// 	}
		// }

		img {
			border-radius: 0.5rem;

			&.large,
			&.medium,
			&.small {
				width: 100%;
			}

			&.medium {
				max-width: 29rem;
			}

			&.small {
				max-width: 5rem;
			}
		}

		// .card {
		// 	border: 0.1rem #c0c0c0 solid;
		// 	background-color: #f8f8f8;
		// 	border-radius: 0.5rem;
		// 	margin: 1rem;
		// }

		// .card-body {
		// 	padding: 1rem;

		// 	> * {
		// 		margin-bottom: 0.5rem;
		// 	}
		// }

		.price {
			font-size: 2rem;
		}

		/* Rating */
		.rating {
			i {
				color: $primary-color;
				margin: 0.1rem;
			}

			span {
				color: #404040;
			}
		}
	}
}
