<script lang="ts">
	// export default {
	// 	transition: "move",
	// };
</script>

<template>
	<div>
		<NuxtLink to="/">Home</NuxtLink>
		<h1>{{ $route.params.id }}</h1>
		<div class="box"></div>
	</div>
</template>

<style lang="scss">
	.box {
		height: 200px;
		width: 200px;
		background-color: blue;
	}
	// .move-enter-active,
	// .move-leave-active {
	// 	transition: opacity 0.5s;
	// }
	// .move-enter,
	// .move-leave-active {
	// 	opacity: 0;
	// }
</style>
