<script setup lang="ts">
	// This starter template is using Vue 3 <script setup> SFCs
	// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
	// import HelloWorld from "./components/HelloWorld.vue";
	// import { UserCircleIcon } from "@heroicons/vue/outline";
	import { ref } from "vue";
	import { invoke } from "@tauri-apps/api/tauri";

	const buttonText = ref(
		"Pingasdasdasda asd asd asd asd asd asd asd asd asd asd asd asd"
	);
</script>

<template>
	<div class="container">
		<h1 class="text-lg">Hello World</h1>
		<button
			class="btn"
			@click="
				invoke <
					string >
					('my_custom_handler', { text: buttonText }).then(
						(res) => (buttonText = res)
					)
			"
		>
			{{ buttonText }}
		</button>
	</div>
</template>

<style lang="scss">
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	html {
		@apply bg-gray-50 dark:bg-black;

		* {
			@apply dark:text-white;
		}

		#app {
			@apply antialiased;
			font-family: Avenir, Helvetica, Arial, sans-serif;
			text-align: center;
			color: #2c3e50;
			margin-top: 60px;

			.btn {
				@apply bg-primary-light rounded py-2 px-4 dark:bg-primary-dark w-24 min-w-min;
			}
		}
	}
</style>
