{% extends "base.html" %}

{% block content %}
<form action="" method="POST">
	<div>
		<label for="username">Username:</label>
		<input type="text" name="username" />
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" name="password" />
	</div>
	<input type="submit" value="Login" />
</form>
{% endblock %}
