{% extends "base.html" %}

{% block content %}
<form action="" method="POST">
	<div>
		<label for="username">Username:</label>
		<input type="text" name="username" />
	</div>
	<div>
		<label for="email">E-mail:</label>
		<input type="email" name="email" />
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" name="password" />
	</div>
	<input type="submit" value="Sign Up" />
</form>
{% endblock %}
