$color: #CCCCCC, #2196F3;
$delay: .2s;
$switch_width: 50px;
$switch_height: 28px;
$padding: 3px;
$slider_size: $switch_height - $padding*2;
.switch {
	position: relative;
	display: inline-block;
	width: $switch_width;
	height: $switch_height;
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: nth($color, 1);
		transition: $delay;
	}
	.slider:before {
		position: absolute;
		content: "";
		height: $slider_size;
		width: $slider_size;
		left: $padding;
		bottom: $padding;
		background-color: #FFFFFF;
		transition: $delay;
	}
	.round {
		border-radius: $switch_height;
	}
	.round:before {
		border-radius: 50%;
	}
	input:checked + .slider {
		background-color: nth($color, 2);
	}
	input:checked + .slider:before {
		transform: translateX($switch_width - $padding*2 - $slider_size);
	}
}