.switch{position:relative;display:inline-block;width:50px;height:28px}.switch input{opacity:0;width:0;height:0}.switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;transition:.2s}.switch .slider:before{position:absolute;content:"";height:22px;width:22px;left:3px;bottom:3px;background-color:#fff;transition:.2s}.switch .round{border-radius:28px}.switch .round:before{border-radius:50%}.switch input:checked+.slider{background-color:#2196f3}.switch input:checked+.slider:before{transform:translateX(22px)}
