<template>
	<Page>
		<!-- <ActionBar>
			<GridLayout width="100%" columns="auto, *">
				<Label
					text="MENU"
					@tap="$refs.drawer.nativeView.showDrawer()"
					col="0"
				/>
				<Label class="title" text="Welcome to NativeScript-Vue!" col="1" />
			</GridLayout>
		</ActionBar> -->
		<ActionBar title="Action Items">
			<ActionItem
				tap="onShare"
				ios.systemIcon="9"
				ios.position="left"
				android.systemIcon="ic_menu_share"
				android.position="actionBar"
			></ActionItem>
			<ActionItem
				@tap="onDelete"
				text="delete"
				ios.systemIcon="16"
				ios.position="right"
				android.position="popup"
			></ActionItem>
		</ActionBar>
		<RadSideDrawer ref="drawer">
			<StackLayout ~drawerContent backgroundColor="#ffffff">
				<Label class="drawer-header" text="Drawer" />

				<Label class="drawer-item" text="Item 1" />
				<Label class="drawer-item" text="Item 2" />
				<Label class="drawer-item" text="Item 3" />
			</StackLayout>

			<GridLayout ~mainContent columns="*" rows="*">
				<Label class="message" :text="msg" col="0" row="0" />
			</GridLayout>
		</RadSideDrawer>
	</Page>
</template>

<script>
	export default {
		data() {
			return {
				msg: "Hello World!",
			};
		},
		methods: {
			onDelete() {
				console.log("hello");
			},
		},
	};
</script>

<style scoped>
	ActionBar {
		background-color: #53ba82;
		color: #ffffff;
	}

	.title {
		text-align: left;
		padding-left: 16;
	}

	.message {
		vertical-align: center;
		text-align: center;
		font-size: 20;
		color: #333333;
	}

	.drawer-header {
		padding: 50 16 16 16;
		margin-bottom: 16;
		background-color: #53ba82;
		color: #ffffff;
		font-size: 24;
	}

	.drawer-item {
		padding: 8 16;
		color: #333333;
		font-size: 16;
	}
</style>
