<!-- Generic -->
<meta name="keywords" content="what is global star?, information about global star, information about global star company, andalus trading company, andalusia trading est, andalus commercial website" />
<meta name="description" content="Specialized in importing and supplying products (electric motors - gear reducers - dampers - gear boxes - saw motors - vibrators) from the finest factories" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:url" content="https://globalstar-tr.net/en/about-us" />
<meta name="og:title" content="Global Star  | About Us" />
<meta name="og:description" content="Specialized in importing and supplying products (electric motors - gear reducers - dampers - gear boxes - saw motors - vibrators) from the finest factories" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://globalstar-tr.net/en/about-us" />
<meta name="twitter:title" content="Global Star  | About Us" />
<meta name="twitter:description" content="Specialized in importing and supplying products (electric motors - gear reducers - dampers - gear boxes - saw motors - vibrators) from the finest factories" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />