<!-- Generic -->
<meta name="keywords" content="ما هي جلوبال ستار, ما هي شركه جلوبال ستار, معلومات عن جلوبال ستار, معلومات عن شركه جلوبال ستار, شركة الأندلس التجارية, مؤسسة الأندلس التجارية, موقع الاندلس التجارية" />
<meta name="description" content="متخصصين في استيراد وتوريد المنتجات (محركات كهربائية - مخفضات تروس - مخمدات - علب تروس - محركات منشار - هزازات) من ارقى المصانع" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:url" content="https://globalstar-tr.net/ar/about-us" />
<meta name="og:title" content="Global Star  | معلومات عنا" />
<meta name="og:description" content="متخصصين في استيراد وتوريد المنتجات (محركات كهربائية - مخفضات تروس - مخمدات - علب تروس - محركات منشار - هزازات) من ارقى المصانع" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://globalstar-tr.net/ar/about-us" />
<meta name="twitter:title" content="Global Star  | معلومات عنا" />
<meta name="twitter:description" content="متخصصين في استيراد وتوريد المنتجات (محركات كهربائية - مخفضات تروس - مخمدات - علب تروس - محركات منشار - هزازات) من ارقى المصانع" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />
