<!-- Generic -->
<meta name="keywords" content="Blower with battery, air conditioner blower, Blower Total 400 Watt, Blower Total 600 Watt, Blower Total 800 Watt, Blower Total Battery, Dust Suction Blower, Suction and expelling blower, Blower suction and expelling with attachments vacuum cleaner speeds 800 watts, Makita blower, broom blower, air blower, Air blower 2000 watt, big air blower, small air blower, air blower for sale, car cleaning crystal, Crystal for sale, Crystal for cleaning, Crystal for the computer" />
<meta name="description" content="The best types of crystals provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:description" content="The best types of crystals provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="The best types of crystals provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />