<!-- Generic -->
<meta name="keywords" content="Andalusia Business Online, Services Andalus Commercial, customers service Andalus Commercial, Andalusia business map, number The Andalus Commercial, Al-Andalus Trading Company phone number, Global Star Company Address, Global star mobile numbers, Global Star phone numbers, Global Star places, Global Star locations" />
<meta name="description" content="Contact us through Mobile - 01092425789 - or the nearest branch - Sixth of October City" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:url" content="https://globalstar-tr.net/en/contact-us" />
<meta name="og:title" content="Global Star  | Contact Us" />
<meta name="og:description" content="Contact us through Mobile - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://globalstar-tr.net/en/contact-us" />
<meta name="twitter:title" content="Global Star  | Contact Us" />
<meta name="twitter:description" content="Contact us through Mobile - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />