<!-- Generic -->
<meta name="keywords" content="الأندلس التجارية اون لاين, خدمات الأندلس التجارية, خدمة العملاء الأندلس التجارية, خريطة الأندلس التجارية, رقم الأندلس التجارية, رقم تليفون شركة الأندلس التجارية, عنوان شركة جلوبال ستار, ارقام موبيلات جلوبال ستار, ارقام هواتف جلوبال ستار, اماكن جلوبال ستار, اماكن شركه جلوبال ستار" />
<meta name="description" content="تواصل معنا من خلال موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:url" content="https://globalstar-tr.net/ar/contact-us" />
<meta name="og:title" content="Global Star  | اتصل بنا" />
<meta name="og:description" content="تواصل معنا من خلال موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://globalstar-tr.net/ar/contact-us" />
<meta name="twitter:title" content="Global Star  | اتصل بنا" />
<meta name="twitter:description" content="تواصل معنا من خلال موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />
