<!-- Generic -->
<meta name="keywords" content="seismic dampers, dampers in the car, Types of dampers, prices dampers, Types of car dampers, What does dampers mean?, What does the word dampers mean?, What does dampers mean?, vibration dampers, fire dampers, earthquake dampers, car dampers, air dampers, car dampers" />
<meta name="description" content="The best types of dampers provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:description" content="The best types of dampers provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="The best types of dampers provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />