<!-- Generic -->
<meta name="keywords" content="صور جيربوكسات, مواتير وجيربوكسات, اسعار جيربوكسات, شراء جيربوكسات, مواتير وجيربوكسات بمصر, اسعار علبة تروس, علبة تروس, علبة تروس للسيارات, علبة تروس السيارة, علبة تروس اوتوماتيك, علبة تروس اتوماتيك" />
<meta name="description" content="افضل انواع علب التروس المقدمه فقط من جلوبال ستار لطلب المنتج تواصل معنا علي موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:description" content="افضل انواع علب التروس المقدمه فقط من جلوبال ستار لطلب المنتج تواصل معنا علي موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="افضل انواع علب التروس المقدمه فقط من جلوبال ستار لطلب المنتج تواصل معنا علي موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />
