<!-- Generic -->
<meta name="keywords" content="gearbox prices, gearbox, Auto gearbox, car gearbox, automatic gearbox, automatic gearbox, Gearbox pictures, Motors and gearboxes, prices Gearboxes, Buy Gearboxes, Motors and gearboxes in Egypt" />
<meta name="description" content="The best types of gearboxes provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:description" content="The best types of gearboxes provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="The best types of gearboxes provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />