<!-- Generic -->
<meta name="keywords" content="مولدات كهرباء جديدة للبيع, مولدات كهرباء جديدة, مولدات كهرباء جديد, مولدات كهرباء ذاتية التشغيل, مولدات كهرباء ذاتية الحركة, مولدات كهرباء سيارات, مولدات كهرباء حفر الباطن, مولدات كهرباء حجم صغير, مولدات كهرباء صغيرة بدون صوت, مولدات كهرباء ديزل, مولدات كهرباء ديزل للبيع بمصر, مولدات كهرباء ديزل للبيع في السودان, مولدات كهرباء ديزل مستعمل للبيع في الجزائر, مولدات كهرباء ديزل للبيع" />
<meta name="description" content="افضل انواع المولدات المقدمه فقط من جلوبال ستار لطلب المنتج تواصل معنا علي موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:description" content="افضل انواع المولدات المقدمه فقط من جلوبال ستار لطلب المنتج تواصل معنا علي موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="افضل انواع المولدات المقدمه فقط من جلوبال ستار لطلب المنتج تواصل معنا علي موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />
