<!-- Generic -->
<meta name="keywords" content="New generators for sale, new generators, new generators, Self-powered generators, self-propelled generators, Auto electric generators, Hafar Al-Batin Electricity Generators, Small size generators, Small electric generators without sound, diesel generators, Diesel generators for sale in Egypt, Diesel generators for sale in Sudan, Used diesel generators for sale in Algeria, diesel generators for sale" />
<meta name="description" content="The best types of generators provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:description" content="The best types of generators provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="The best types of generators provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />