<!-- Generic -->
<meta name="keywords" content="speed reducer for sale, Sell electric motors, Selling electric motors for cars, Companies selling electric motors, Electric Motor Dealers, Electric motors agency, Electric motors agencies in Egypt, Installing electric motors, electric motors manufacturers, Electric motors manufacturing plants, All kinds of electric motors, electric motors importers, electric motors factory, Global Star, Global star company, Pump manufacturing companies in Egypt, Pump companies in Egypt" />
<meta name="description" content="Global Star is a company specialized in selling (electric motors - gear reducers - worm gear boxes - dampers - vibrators)" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:url" content="https://globalstar-tr.net/en" />
<meta name="og:title" content="Global Star" />
<meta name="og:description" content="Global Star is a company specialized in selling (electric motors - gear reducers - worm gear boxes - dampers - vibrators)" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://globalstar-tr.net/en" />
<meta name="twitter:title" content="Global Star" />
<meta name="twitter:description" content="Global Star is a company specialized in selling (electric motors - gear reducers - worm gear boxes - dampers - vibrators)" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />