<!-- Generic -->
<meta name="keywords" content="مخفض سرعة للبيع, بيع محركات كهربائية, بيع محركات كهربائية للسيارات, شركات بيع محركات كهربائية, تجار محركات كهربائية, توكيل محركات كهربائية, توكيلات محركات كهربائية فى مصر, تركيب محركات كهربائية, شركات تصنيع محركات كهربائية, مصانع تصنيع محركات كهربائية, جميع انواع محركات كهربائية, مستوردين محركات كهربائية, مصنع محركات كهربائية, جلوبال ستار, شركه جلوبال ستار, شركات تصنيع الطلمبات في مصر, شركات الطلمبات في مصر" />
<meta name="description" content="جلوبال استار شركه متخصصه في بيع (محركات كهربائية - مخفضات تروس - علب تروس دودية - مخمدات - هزازات)" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:url" content="https://globalstar-tr.net/ar" />
<meta name="og:title" content="Global Star" />
<meta name="og:description" content="جلوبال استار شركه متخصصه في بيع (محركات كهربائية - مخفضات تروس - علب تروس دودية - مخمدات - هزازات)" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://globalstar-tr.net/ar" />
<meta name="twitter:title" content="Global Star" />
<meta name="twitter:description" content="جلوبال استار شركه متخصصه في بيع (محركات كهربائية - مخفضات تروس - علب تروس دودية - مخمدات - هزازات)" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />
