<!-- Generic -->
<meta name="keywords" content="Factory hood prices, Kitchen hood prices, Tornado hood prices, Toshiba hood prices, zanussi hoods prices, National hood prices, Fresh hood prices, External extractor hoods, The best type of kitchen hoods, Places to sell kitchen hoods, kitchen hoods price, Tornado hoods price, Toshiba hood price, Fresh hoods price, Universal hood price, air hoods, Restaurant hoods, Built-in hoods, Tornado built-in hoods, Fresh Built In Hoods, Grand Hoods, wall hoods, wall hoods, Strong kitchen hoods, Industrial hoods" />
<meta name="description" content="The best types of hoods provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:description" content="The best types of hoods provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="The best types of hoods provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />