<!-- Generic -->
<meta name="keywords" content="motors prices, gear motor, motors SEW, 3 phase motors for sale, Motor price 5.5 hp, 15 hp motor, 10 hp electric motor price, Electric motors prices in Egypt, Used electric motors for sale in Egypt, motors DC for sale in Egypt, 3 phase motors for sale, Where to sell motors in Egypt, Electric motors for external use, Small motors selling places in Egypt, Car electric motors, Electric motors 20 hp, small electric motors, Turkish motors, Turkey Motors, Turkish motors in Egypt, Turkish electric motors, Turkish electric motors, Turkish motors for sale, Turkish motors and their prices, winding motors, Motors can be turned, Winding electric motors, Engines, Import movement motors, Motors movement in Egypt, Electric motors, motors for sale, winding motors, Winding electric motors, Motors can be turned" />
<meta name="description" content="The best types of motors provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:description" content="The best types of motors provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="The best types of motors provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />