<!-- Generic -->
<meta name="keywords" content="منتجات جلوبال ستار, ما هي المنتجات التي تقدمها جلوبال ستار, ما هي المنتجات التي تقدمها شركه جلوبال ستار" />
<meta name="description" content="افضل المنتجات مقدمه من جلوبال ستار شركه متخصصه في استيراد وتوريد المنتجات (محركات كهربائية - مخفضات تروس - مخمدات - علب تروس - محركات منشار - هزازات) من ارقى المصانع" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:title" content="Global Star  | المنتجات" />
<meta name="og:description" content="افضل المنتجات مقدمه من جلوبال ستار شركه متخصصه في استيراد وتوريد المنتجات (محركات كهربائية - مخفضات تروس - مخمدات - علب تروس - محركات منشار - هزازات) من ارقى المصانع" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Global Star  | المنتجات" />
<meta name="twitter:description" content="افضل المنتجات مقدمه من جلوبال ستار شركه متخصصه في استيراد وتوريد المنتجات (محركات كهربائية - مخفضات تروس - مخمدات - علب تروس - محركات منشار - هزازات) من ارقى المصانع" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />
