<!-- Generic -->
<meta name="keywords" content="gear pumps, Gear pumps in Egypt, small gear pumps, small gear pumps, Waterproof gear pumps, pressure gear pumps, Long gear pumps, medical gear pumps, Long gear pumps, medical gear pumps, gear pump, gear pumps in egypt, gear pump, internal gear pumps, internal gear pump, External gear pump, Electric gear pumps, Electric gear pumps, gear pumps, Raw chocolate pumps, Light chocolate pumps, digital chocolate pumps, Chocolate Roll Pumps, Small chocolate pumps, Small chocolate pumps, Chocolate pumps in Egypt, Electric chocolate pumps, Chocolate pumps for sale, Chocolate pumps and their prices" />
<meta name="description" content="The best types of pumps provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:description" content="The best types of pumps provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="The best types of pumps provided only by Global Star. To order the product, contact us on Mobil - 01092425789 - or the nearest branch - Sixth of October City" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />