<!-- Generic -->
<meta name="keywords" content="هزازات كهربائية للبيع, هزازات كهربائيه, هزازات كهربائيه جديده, هزازات كهربائيه في مصر, هزازات كهربائيه والكترونيه" />
<meta name="description" content="افضل انواع الهزازات  المقدمه فقط من جلوبال ستار لطلب المنتج تواصل معنا علي موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />

<!-- OpenGraph -->
<meta name="og:type" content="website" />
<meta name="og:description" content="افضل انواع الهزازات  المقدمه فقط من جلوبال ستار لطلب المنتج تواصل معنا علي موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />
<meta name="og:image" content="https://globalstar-tr.net/assets/images/logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="افضل انواع الهزازات  المقدمه فقط من جلوبال ستار لطلب المنتج تواصل معنا علي موبيل- 01092425789 - او اقرب فرع - مدينة السادس من أكتوبر" />
<meta name="twitter:image" content="https://globalstar-tr.net/assets/images/logo.png" />
