@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.bg-black {
  background-color: #000000;
  color: #ffffff;
}

.title {
  font-family: "Lobster";
  font-size: 25px;
  font-weight: 600;
}

.bt-black {
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  background-image: linear-gradient(135deg, #00aaff, #d500ff);
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

/*# sourceMappingURL=black.css.map */
