@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap');

$primary_color: rgb(0, 170, 255);
$seconday_color: adjust-hue($primary_color, 90deg);
$bg-color: #000000;
$color: #ffffff;

body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 1px;
}

.bg-black {
	background-color: $bg-color;
	color: $color;
}

.title {
	font-family: "Lobster";
	font-size: 25px;
	font-weight: 600;
}

.bt-black {
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
	background-image: linear-gradient(135deg, $primary_color, $seconday_color);
	text-transform: capitalize;
	font-weight: bold;
	text-decoration: none;
	color: $bg-color;
}