@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap');

$primary_color: rgb(255, 102, 0);
$seconday_color: rgb(235, 94, 0);
$bg-color: #ffffff;
$color: #000000;

body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 1px;
}

.bg-light {
	background-color: $bg-color;
	color: $color;
	border: 1px solid $color;
}

.title {
	font-family: "Lobster";
	font-size: 25px;
}

.bt-light {
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
	background-color: $primary_color;
	border: 1px solid $seconday_color;
	text-transform: capitalize;
	font-weight: bold;
	color: $bg-color;
	text-decoration: none;
}