* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.topnav {
	overflow: hidden;
	height: fit-content;
}

.topnav a {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	margin: 0;
}

.topnav .icon {
	float: right;
	display: none;
}

.container {
	overflow: hidden;
	margin: 0;
	text-align: center;
}

.container img {
	height: 100vh;
	margin: auto;
}

.about {
	margin-top: 70px;
}

section {
	margin: 40px 0;
	padding: 50px 40px;
	overflow: hidden;
}

section img {
	float: left;
	height: 200px;
	margin: 20px 40px 20px 0;
}

section p {
	margin: 0 40px;
	font-size: 1.5em;
	line-height: 1.5em;
}

section h1 {
	font-size: 2em;
	margin: 20px 0 40px 0;
	font-family: "Lobster";
}

.contact span {
	margin: 0 5px;
}

footer {
	padding: 10px
}

footer h1 {
	font-size: 1.25em;
	font-family: "Lobster";
	margin: 20px 0;
}

.follow i {
	margin: 0 5px;
}

footer a {
	text-decoration: none;
}

footer section {
	display: inline;
	margin: 20px 0;
	padding: 0 30px;
}

.follow {
	float: left;
}

.contact {
	float: left;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		display: block;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	section img {
		display: block;
		float: unset;
		margin: auto auto 50px auto;
	}
}