<template>
	<!-- <Tutorial /> -->
	<div>
		<NuxtLink to="/posts">Posts</NuxtLink>
		<NuxtLink to="/blog/1">Blog</NuxtLink>
	</div>
</template>

<script lang="ts">
	import Vue from "vue";

	export default Vue.extend({});
</script>
