html {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}

.header {
    height: 35px;
	background-color: rgba(255, 255, 255, 45%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 10px #b8b8b8;
}

.header:hover {
	background-color: #ffffff;
	transition: background-color 0.3s ease-in-out;
}

.div1 {
    float: left;
	cursor: pointer;
	height: 100%;
}

.div2 {
	cursor: pointer;
	float: right;
	height: 100%;
}

.div1:hover, .div2:hover {
	background-color: #000000;
	color: #ffffff;
}

#logo {
	width: 35px;
	height: 35px;
	float: left;
}

#user, #edit, #login {
	height: 30px;
	width: 30px;
	float: right;
	margin-top: 3px;
	margin-right: 2px;
	margin-left: 2px;
}

.header span {
    margin: 4px 7px 0 5px;
    font-size: 20px;
    float: left;
}

.main {
    padding: 25px;
	margin: 100px auto;
    background-color: #ffffff;
	border: 1px solid #b8b8b8;
	box-shadow: 0 0 10px #b8b8b8;
	border-radius: 5px;
	text-align: center;
}

.main span {
    font-size: 20px;
    font-weight: bold;
}

.logout {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: #ffffff;
    border-radius: 100%;
    height: 30px;
    width: 30px;
	padding: 3px;
	cursor: pointer;
}
