html {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}

span {
	cursor: default;
}

.header {
	height: 55px;
	background-color: rgba(255, 255, 255, 45%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 10px #b8b8b8;
}

.header:hover {
	background-color: rgb(255, 255, 255);
	transition: background-color 0.3s ease-in-out;
}

.main {
	width: 700px;
	margin: 150px auto 50px auto;
	padding: 50px;
	background-color: #ffffff;
	border: 1px solid #b8b8b8;
	box-shadow: 0 0 10px #b8b8b8;
	border-radius: 5px;
	text-align: center;
}

.home {
	cursor: default;
	font-size: 25px;
	font-weight: bold;
}

#logo {
	height: 55px;
	width: 60px;
	float: left;
}

.header span {
	cursor: pointer;
	font-size: 30px;
	margin: 9px 10px 0 10px;
	float: left;
}

.div1 {
	float: left;
	cursor: pointer;
	height: 100%;
}

.div2 {
	cursor: pointer;
	float: right;
	height: 100%;
}

.div1:hover, .div2:hover {
	background-color: #000000;
	color: #ffffff;
}

#user {
	height: 40px;
	width: 40px;
	float: right;
	margin: 7px 5px 0 5px;
}

#edit {
	height: 40px;
	width: 40px;
	margin: 7px 5px 0 5px;
	float: right;
}

#login {
	height: 40px;
	width: 40px;
	margin: 7px 5px 0 5px;
	float: right;
}

.logout {
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: #ffffff;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	padding: 3px;
	cursor: pointer;
}
