* { margin: 0; padding: 0; box-sizing: border-box; }

body { min-width: fit-content; font-family: sans-serif; letter-spacing: 1px; }
body .container { display: flex; flex-direction: row; padding: 15px; justify-content: space-evenly; flex-wrap: wrap; }
body .container .flip-card { margin: 20px; background-color: transparent; width: 200px; min-width: 200px; height: 200px; perspective: 1000px; }
body .container .flip-card .flip-card-inner { position: relative; width: 100%; height: 100%; text-align: center; transition: transform ease-in-out .5s; transform-style: preserve-3d; }
body .container .flip-card .flip-card-inner .flip-card-front, body .container .flip-card .flip-card-inner .flip-card-back { top: 0; left: 0; position: absolute; width: 100%; height: 100%; backface-visibility: hidden; }
body .container .flip-card .flip-card-inner .flip-card-front { background-color: #000000; }
body .container .flip-card .flip-card-inner .flip-card-back { transform: rotateY(180deg); padding: 20px 15px; display: flex; flex-direction: column; justify-content: space-between; font-family: "Roboto"; }
body .container .flip-card:hover .flip-card-inner { transform: rotateY(180deg); }
