@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");
body { font-family: "Roboto", sans-serif; letter-spacing: 1px; }

.bg-light { background-color: #ffffff; color: #000000; border: 1px solid #000000; }

.title { font-family: "Lobster"; font-size: 25px; }

.bt-light { border: none; padding: 10px 20px; border-radius: 3px; cursor: pointer; background-color: #ff6600; border: 1px solid #eb5e00; text-transform: capitalize; font-weight: bold; color: #ffffff; text-decoration: none; }
