<script setup lang="ts"></script>

<template>
	<div class="md:rounded inline-block px-[2rem] lg:w-[50%] md:w-[70%] w-full py-16 bg-white dark:bg-black">
				<img src="https://via.placeholder.com/150" class="rounded-full"/>
	</div>
</template>

<style lang="scss" scoped></style>
