<script setup lang="ts">
	import Comment from "./components/Comment.vue";
</script>

<template>
	<Comment></Comment>
</template>

<style lang="postcss">
	:root {
		@apply bg-[#f5f6fa] dark:text-white dark:bg-[#151515];
	}
</style>
