<html>
	<head>
		<title>{{ title }}</title>
	</head>
	<body>
		<div>
			<ul>
				<li><a href="home">HOME</a></li>
				<li><a href="league">LEAGUE</a></li>
			</ul>
		</div>
		<hr>
		<div>
			<h3>{{ header }}</h3>
		</div>
		<hr>
		{{ body }}
		<hr>
		<div id="footer">
			<h3>All rights reserved. {{ application_name }}</h3>
		</div>
	</body>
</html>