.comment_comment {
	border: 1px solid #AAAAAA;
	background-color: #F0F0F0;
	padding: 20px 20px;
	overflow: auto;
	box-sizing: border-box;
}

.comment_comment textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 150px;
}

.comment_comment input, .comment_comment textarea {
	transition: box-shadow .5s, border .5s;
}

.comment_comment input:focus:not([type=submit]), .comment_comment textarea:focus {
	border: 1px solid #4CAF50;
	box-shadow: 0 0 5px #4CAF50;
}

.comment_comment input[type=submit] {
	float: right;
}

.comment_comment input[type=text] {
	margin-bottom: 5px;
	width: 100%;
}

#comment_comments {
	background-color: #FFFFFF;
	border: 1px solid #DBDBDB;
	padding: 20px;
}