.content_content {
	width: 95%;
	background-color: #FFFFFF;
	font-size: 18px;
	margin: 80px auto 110px auto;
	padding: 50px 5%;
	box-shadow: 0 0 10px #DBDBDB;
}

.content_content > h2, .content_content > h1 {
	font-weight: normal;
}

.content_content > div {
	clear: left;
	letter-spacing: 2px;
	line-height: 30px;
	margin: 50px 0;
}

.content_content a {
	color: #000000;
}

@media screen and (max-width: 700px) {
	.content_content {
		font-size: 16px;
		width: 100%;
	}
}
