.footer_footer {
	background-color: #162026;
	margin: 0;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #6E6965;
}

.footer_footer a {
	color: #6E6965;
}
