.header_header {
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	border-bottom: 1px solid #DBDBDB;
}

.header_header:hover {
	background-color: #FFFFFF;
	transition: background-color 0.5s;
}

.header_header .header_container {
	position: relative;
}

.header_header .header_logo {
	height: 50px;
	margin: 0;
	float: left;
	display: block;
}

.header_header .header_icon {
	display: none;
	padding: 5px;
	float: right;
	cursor: pointer;
	padding: 5px;
}

.header_icon div {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

.header_change .header_bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.header_change .header_bar2 {
	opacity: 0;
}

.header_change .header_bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.header_header .header_icon:hover, .header_header .header_icon:active {
	background-color: #DBDBDB;
}

.header_header .header_pages, .header_dropmenu .header_btn {
	float: right;
	padding: 20px;
	text-decoration: none;
	color: #9B9B9B;
	font-size: 12px;
	text-align: center;
	border-bottom: 3px solid transparent;
	cursor: pointer;
}

.header_header .header_pages:hover, .header_header .header_pages:active, .header_header .header_active, .header_dropmenu:hover .header_btn {
	color : #000000;
	border-bottom: 3px solid red;
}

.header_header .header_dropmenu {
	position: relative;
	display: inline-block;
	float: right;
}

.header_header .header_menu {
	display: none;
	position: absolute;
	min-width: 160px;
	background-color: #EBEBEB;
	bottom: -68px;
}

.header_menu span {
	font-size: 12px;
	cursor: pointer;
	padding: 10px;
	display: block;
}

.header_menu span:hover {
	background-color: #DBDBDB;
}

.header_dropmenu:hover .header_menu {
	display: block;
}

@media screen and (max-width: 700px) {
    .header_header .header_icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 50px;
		text-align: center;
	}
	.header_header .header_pages, .header_header .header_dropmenu {
		border-bottom: none;
		display: none;
	}
	.header_header .header_container, .header_header .header_responsive {
		overflow: auto;
	}
    .header_header .header_responsive {
        height: 100%;
    }
	.header_header.header_responsive a, .header_header.header_responsive .header_dropmenu, .header_header.header_responsive .header_btn {
		text-align: left;
		display: block;
		float: none;
	}
	.header_header.header_responsive .header_menu {
		position: static;
	}
	.header_header .header_pages:active {
		border-bottom: none;
	}
	.header_header.header_responsive .header_pages:hover, .header_header.header_responsive .header_active, .header_dropmenu:hover .header_btn {
		border-bottom: none;
		border-left: 3px solid red;
	}
}
