* {
	box-sizing: border-box;
	outline: none;
}

::selection {
	background: rgb(113, 215, 255);
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #F7F7F7;
}

html {
	position: relative;
	min-height: 100%;
}

a:hover {
	text-decoration: none;
}

img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input, textarea {
	padding: 12px;
	border: 1px solid #DBDBDB;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 30px 0;
	border: 1px solid #DBDBDB;
}

tr td, tr th {
	text-align: left;
	padding: 16px;
}

tbody tr:nth-child(odd) {
	background-color: #F2F2F2;
}

.static_submit {
	background-color: #4CAF50;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
}

.static_submit:hover {
	opacity: 0.8;
}

.static_submit:disabled {
	background-color: #BDBDBD;
}
