<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		{% if success %}
			Verified Successfully.
			Your connectivity will be restored shortly.
		{% else %}
			Wrong Password <a href="/">try again</a>
		{% endif %}
	</body>
</html>