@import "https://fonts.googleapis.com/css?family=Tajawal:200,300,400,500,700,800,900&subset=arabic";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css";

$min-size: 700px;

html {
	scroll-behavior: smooth;
	* {
		box-sizing: border-box;
	}
	body {
		font-family: 'Tajawal', 'Trebuchet MS', Helvetica, sans-serif;
		margin: 0;
		._header {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			padding: 5px 10px;
			background-color: rgb(17, 199, 255);
			height: 50px;
			._logo {
				height: 90%;
				position: absolute;
				top: 50%;
				padding: inherit;
				transform: translateY(-50%);
			}
			button {
				float: right;
				color: rgb(58, 183, 0);
				border: 1px solid rgb(58, 183, 0);
				background-color: rgb(255, 255, 255);
				opacity: .7;
				height: 100%;
				cursor: pointer;
				transition: opacity .5s;
			}
			button:hover {
				opacity: 1;
			}
		}
		._content {
			padding: 20px;
			margin: 90px auto;
			overflow: auto;
			text-align: center;
			.summary {
				padding: 20px;
				border-radius: 5px;
				border: 1px solid rgb(158, 158, 158);
				display: inline-block;
				width: 40%;
				margin: 0 10px;
				span:first-child {
					// display: block;
					width: 100px;
					border-bottom: 1px solid rgb(200, 200, 200);
					font-size: 18px;
					font-weight: bold;
				}
				hr {
					border: .5px solid rgb(200, 200, 200);
				}
			}
			@media screen and (max-width: $min-size) {
				.summary {
					width: 100%;
					margin: 10px auto;
					span:first-child {
						font-size: 16px;
					}
				}
			}
		}
		._footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			padding: 10px;
		}
		@media screen and (max-width: $min-size) {
			* {
				font-size: 10px;
			}
			._header {
				height: 40px;
			}
		}
	}
}
