@import "https://fonts.googleapis.com/css?family=Tajawal:200,300,400,500,700,800,900&subset=arabic";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css";
html {
  scroll-behavior: smooth;
}
html * {
  box-sizing: border-box;
}
html body {
  font-family: "Tajawal", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}
html body ._header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  background-color: #11c7ff;
  height: 50px;
}
html body ._header ._logo {
  height: 90%;
  position: absolute;
  top: 50%;
  padding: inherit;
  transform: translateY(-50%);
}
html body ._header button {
  float: right;
  color: #3ab700;
  border: 1px solid #3ab700;
  background-color: white;
  opacity: 0.7;
  height: 100%;
  cursor: pointer;
  transition: opacity 0.5s;
}
html body ._header button:hover {
  opacity: 1;
}
html body ._content {
  padding: 20px;
  margin: 90px auto;
  overflow: auto;
  text-align: center;
}
html body ._content .summary {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  display: inline-block;
  width: 40%;
  margin: 0 10px;
}
html body ._content .summary span:first-child {
  width: 100px;
  border-bottom: 1px solid #c8c8c8;
  font-size: 18px;
  font-weight: bold;
}
html body ._content .summary hr {
  border: 0.5px solid #c8c8c8;
}
@media screen and (max-width: 700px) {
  html body ._content .summary {
    width: 100%;
    margin: 10px auto;
  }
  html body ._content .summary span:first-child {
    font-size: 16px;
  }
}
html body ._footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  html body * {
    font-size: 10px;
  }
  html body ._header {
    height: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
