.content_content {
	direction: rtl;
	width: 	95%;
	background-color: rgba(255, 255, 255, 0.9);
	font-size: 18px;
	margin: 110px auto 110px auto;
	padding: 50px 5%;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	border: 1px solid #000000;
}

.content_content > div {
	clear: left;
	line-height: 30px;
	margin: 50px 0;
}

.content_content a {
	color: #000000;
}

@media screen and (max-width: 700px) {
	.content_content {
		font-size: 16px;
		width: 100%;
	}
}
