@import url(https://fonts.googleapis.com/css?family=Tajawal:200,300,400,500,700,800,900&subset=arabic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css);

* {
	box-sizing: border-box;
	outline: none;
}

::selection {
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

body {
	font-family: 'Tajawal', 'Trebuchet MS', Helvetica, sans-serif;
	background-color: #000000;
	background-image: url("/img/background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

html {
	position: relative;
	min-height: 100%;
}

a:hover {
	text-decoration: none;
}

img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input, textarea {
	padding: 12px;
	border: 1px solid #DBDBDB;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 30px 0;
	border: 1px solid rgb(219, 219, 219);
}

tr td, tr th {
	padding: 16px;
}

thead {
	background-color: rgb(255, 255, 255);
}

tbody tr:nth-child(even) {
	background-color: rgb(255, 255, 255);
}

tbody tr:nth-child(odd) {
	background-color: rgb(242, 242, 242);
}

.static_submit {
	background-color: rgb(10, 192, 252);
	color: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
	padding: 10px 20px;
}

.static_submit:hover {
	opacity: 0.8;
}

.static_submit:disabled {
	background-color: rgb(189, 189, 189);
}
