.loader {
  border: 16px solid #F3F3F3;
  border-top: 16px solid #3496DB;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=leader.css.map */
